________________________________________________________________________________________________________________________
- workshop , arranged 10th jan 2022 to 14th jan 2022, online..

- Contact: 9975707273   Gmail: aistatics.info@gmail.com

- Exercise: day1st

_ _________________________________________________________________________________________________________________________
_  _________________________________________________________________________________________________________________________

In [15]:
import numpy as mp
mp.random.randint(17021,17083)

17038

#### Print your  name using print function

In [2]:
print("X Y Z")

X Y Z

#### Write True or False

#After sentense write variable declaration whether it is true or False
example:  abc=[1,2,4]     # True
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (age, Age and AGE are three different variables)

abs=3 ->T
1__a=[123]  ->F
a__1=[123] ->T
__a=["1111"] ->T
kjklkj2=(1,2,3)
xyz@=55  ->F
x1234t5678990989898=[1,2,3] ->T
1233=44  ->F
@abs={1,2,3}  ->F
pune=pune ->F
pune=44  ->T
pune123=44  ->T
123pune=44 ->F
1_@pune=44  ->F
pune@123=44  ->F
pune______12345=["pune"]  ->T
____pune=["123"]  ->T
a_1_b_2=abc  ->F

#### Difference between = and == (in Two lines)

In [37]:
a=1 # = is assigned to variable
1==1 # == comparative operator to compare strings,int, float

True

#### What is difference between list and tuple (in Two lines)

In [ ]:
a=(1,2,3)
b=[4,5,6]

In [2]:
#reason of error 
#Python Case sensitive. small p for print

NameError: name 'Print' is not defined

In [7]:
print (123)

123

#### Use Arithematic Operation for a and b, when a= 5,b=-5

In [38]:
a=5
b=-5
a+b

0

In [39]:
a-b

10

In [40]:
float(a+b-1)

-1.0

In [41]:
int(a*b)

-25

#### Use Logical Operation for a and m=10,n=9

In [42]:
#greater than
m=10
n=9
m>a and n>a

True

In [44]:
#less than
a<m and a<n

True

In [45]:
#not Equal to
a!=m or a!=n

True

In [47]:
#Equal to
a==n

False

#### Write code

In [99]:
L=[23,501,"Pune",(1,2,3),2.1,["Python"+"program"]]
L[:]

[23, 501, 'Pune', (1, 2, 3), 2.1, ['Pythonprogram']]

In [100]:
L[5][0]

'Pythonprogram'

In [101]:
L[1]

501

In [102]:
L[2:5]

['Pune', (1, 2, 3), 2.1]

In [103]:
L.remove("Pune")
L.insert(2,"Baramati")
print (L)

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['Pythonprogram']]

In [104]:
L.append("TCC")
print (L)

[23, 501, 'Baramati', (1, 2, 3), 2.1, ['Pythonprogram'], 'TCC']

In [105]:
L.pop(3)
print (L)

[23, 501, 'Baramati', 2.1, ['Pythonprogram'], 'TCC']

In [106]:
L.insert(2,(1,2,3))
print (L)

[23, 501, (1, 2, 3), 'Baramati', 2.1, ['Pythonprogram'], 'TCC']

In [107]:
L.clear()
print (L)

[]

In [108]:
t=(1,9,4,6,2)#tuple
t[2:]

(4, 6, 2)

In [109]:
t[:3]

(1, 9, 4)

In [26]:
x = ("a", "b", "c", "d")
x

('a', 'b', 'c', 'd')

In [116]:
x = ("a", "b", "c", "d")
x[1]+x[3]

'bd'

#### Convert  x variable  type in  list datatype and  check.

In [121]:
x=["a","b","c","d"]
x

['a', 'b', 'c', 'd']

In [124]:
type (x)

list

In [130]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]


# Print out second element from areas
print()

# Print out last element from areas
print()

# Print out the area of the living room
print()

print(areas[3])
print(areas[-1])
print(areas[4])

18.0
9.5
living room

# Set and dict

In [58]:
Sample_data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
Sample_data

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

In [59]:
Sample_data["item2"]

35

In [60]:
Sample_data.get("item2")

35

In [61]:
Sample_data.values()

dict_values([45.5, 35, 41.3, 55, 24])

In [62]:
Sample_data.keys()

dict_keys(['item1', 'item2', 'item3', 'item4', 'item5'])

In [63]:
Sample_data["item4"]=100
Sample_data

{'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 100, 'item5': 24}

In [64]:
# Create the d
d = {"hallway": 11.25, "kitchen":18.0, "living room": 20.0, "bedroom": 10.75, "bathroom": 9.50}
print (d)

{'hallway': 11.25, 'kitchen': 18.0, 'living room': 20.0, 'bedroom': 10.75, 'bathroom': 9.5}

In [65]:
# Replace the bathroom area by 10
d["bathroom"]=10
print (d)

{'hallway': 11.25, 'kitchen': 18.0, 'living room': 20.0, 'bedroom': 10.75, 'bathroom': 10}

In [66]:
# Change "living room" to "chill zone"
d["chill zone"]=d["living room"]
del d["living room"]
print (d)

{'hallway': 11.25, 'kitchen': 18.0, 'bedroom': 10.75, 'bathroom': 10, 'chill zone': 20.0}

#### Create Empty set and check type

In [21]:
a={}
print (type (a))

a=set()
type (a)
print (a)

<class 'dict'>
set()

#### Create two sets name of X and Y and apply two methods

In [29]:
x={1,2,3}
y={3,4,5}
x.union (y)

{1, 2, 3, 4, 5}

In [30]:
x.intersection (y)

{3}

In [31]:
x-y

{1, 2}

In [33]:
y-x

{4, 5}

In [34]:
x^y

{1, 2, 4, 5}

#### Create  list name of L1 and apply Five methods

In [22]:
L1=[1,2,3,4]
L1.append(5)
print (L1)

[1, 2, 3, 4, 5]

In [23]:
L1[:]
L1

[1, 2, 3, 4, 5]

In [24]:
len(L1)

5

In [25]:
L1.insert(0,0)
print (L1)

[0, 1, 2, 3, 4, 5]

In [26]:
L1[1]

1

In [27]:
L1.remove(5)
print (L1)

[0, 1, 2, 3, 4]

#### Create  tuple name of T1 and apply two methods

In [31]:
T1=(1,2,3,3,4,5,5)
type (T1)

tuple

In [32]:
T1.count(3)

2

In [35]:
T1.index(3)

2

#### Create dict name of D1 and apply two methods

In [54]:
D1={"name": ["Rohit","Sumit","Dhaval"], "age":[67,62,34], "hobby":["travelling","reading","cooking"]}
D1

{'name': ['Rohit', 'Sumit', 'Dhaval'],
 'age': [67, 62, 34],
 'hobby': ['travelling', 'reading', 'cooking']}

In [55]:
import pandas as pd
pd.DataFrame(D1)

     name  age       hobby
0   Rohit   67  travelling
1   Sumit   62     reading
2  Dhaval   34     cooking

In [56]:
D1["Fav. Food"]=["Maharastrian","Chinese","Punjabi"]
print (D1)
pd.DataFrame(D1)

{'name': ['Rohit', 'Sumit', 'Dhaval'], 'age': [67, 62, 34], 'hobby': ['travelling', 'reading', 'cooking'], 'Fav. Food': ['Maharastrian', 'Chinese', 'Punjabi']}

     name  age       hobby     Fav. Food
0   Rohit   67  travelling  Maharastrian
1   Sumit   62     reading       Chinese
2  Dhaval   34     cooking       Punjabi

#### Write variable declaration norms

In [ ]:
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (age, Age and AGE are three different variables)